@import '../../../utils/constantsSCSS.scss';

.final{
	display: flex;
	height: 100%;
	flex-direction: column;
	color: $CoolGray;
	@media (max-width:400px) {
		align-items: center;
		.content{
			@include content;
		}
	}
	&__header{
		@include header;
		margin-bottom: 2.75rem;
	}
	&__check{
		width: 100%;
		padding: 1.375rem;
		margin-bottom: 2rem;
		background-color: $Magnolia;
		border-radius: 10px;
	}
	&__plan{
		display: flex;
		justify-content: space-between;	
		color: $MarineBlue;	
		padding-bottom: 1.875rem;
		border-bottom: 1px solid $LightGray;
		margin-bottom: 1.375rem;
	}
	&__plan-name{
		display: flex;
		flex-direction: column;
		font-size: 14px;
		font-weight: 500;
		a{
			margin-top: 0.75rem;
			color: $CoolGray;
			text-decoration: underline;
			&:hover{
				color: $PurplishBlue;
			}
		}
	}
	&__plan-price{
		font-weight: 500;
	}
	&__addons{
		display: flex;
		flex-direction: column;	
		&>*:not(:last-child){
			margin-bottom: 1.625rem;;
		}
	}
	&__addon{
		display: flex;
		justify-content: space-between;			
	}
	&__addon-price{
		color: $MarineBlue;		
	}
	&__total{
		display: flex;
		justify-content: space-between;
		padding: 0rem 1.375rem;;
	}
	&__total-price{
		font-size: 1.1rem;
		color: $PurplishBlue;
		font-weight: 500;
	}
}