@import '../../../utils/constantsSCSS.scss';

.appbutton{
	width: 7.62rem;
	height: 2.93rem;
	cursor: pointer;
	border: none;
	border-radius: 10px;
	font-weight: 700;
	text-transform: capitalize;
	color: $White;
	background-color: $MarineBlue;
	margin-left: auto;
	&:hover{
		background-color:$PurplishBlue;
	}
	&:disabled{
		cursor: default;
		opacity: 0.5;
		&:hover{
			background-color: $MarineBlue;
		}
	}
}
